<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new response from !</p>
    <p>
    Response details<br>
    --------------------------
    </p>
    <p>Response: </p>
    <p>
    Message:<br>
    ----------
    </p>
    <p></p>
  </body>
</html>